@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
h1{
    font-family: 'Paytone One', sans-serif;
}
h5,h2{
    font-family: 'Fjalla One', sans-serif;
}
p{
    font-family: 'Faustina', serif;
}
/* ==============Typograpgy====================================== */
nav{
    background-color: #74aaab;
}
.header-bg{
    background-color: #74aaab;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: 'Fjalla One', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:red;
}
/* =========================End Of Navbar CSS */
.button-bg{
    border-radius: 10px;
    background-color: #1ace56;
}
button:hover.button-bg{
    background-image: -webkit-linear-gradient(rgb(238, 41, 228),#f0f321);
    background-image: linear-gradient(rgb(238, 41, 228),#f0f321);
 
}
/* ============End Of Banner css==================== */
.woman-jacket-card img{
    background-color: #ddd;
    padding: 14px;
    border-radius: 15px;
    width: 100%;
    height: 400px;
}
.woman-jacket-card{
    border-radius: 15px;
    border:0;
}
/* ========================End of Card CSS=============== */
.footer-bg button {
    background-color: tomato;
    border:none;
    border-radius: 16px;
}
.footer-bg h2{
    color:darkgoldenrod;
}
.footer-bg{
    border:0;
    background-color: white;
}
/* =========================End Of Card Footer Css================== */
.spacial-services img {
    width: 154px;
    height: 129px;
    padding-right: 23px;
}
.fedeback-info h2{
    color:darkkhaki;
}
.spacial-services{
    border-radius: 15px;
}
#fedeback-image img{
    border-radius: 50%;
    border:5px solid #f3afaf;
}
/* ==========End Of Fedeback Css part===================== */
.contact-bg{
    background-color: #bcced2;
}
.contact-info form input,textarea{
    width: 100%;
    background-color: rgb(229, 229, 229);
    padding: 10px 6px;
}
/* ===================End Of contact pat css==================== */
@media(max-width:768px){
    .spacial-services{
        display: block!important;
        text-align: center;
    }
    .spacial-services img {
        display: block;
        margin:0 auto;
    }
}
/* ================Media Query For Spacial Section Part=================== */